.WeeklyActivityContainer {
<<<<<<< HEAD
=======
    width: 100%;
    height: 332px;
>>>>>>> 927abdbdb8fb63abdf28abdb35160bf03c9d96d6
    .title {
        color: #343C6A;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;
    }
    .WeeklyActivityDiagram {
        width: 90%;
        height: 85%;
        padding: 20px 35px;
        background: #fff;
        border-radius: 25px;
    }
}