.ExpenseStatisticsContainer {
    .title {
        color: #343C6A;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 18px;
    }
    .ExpenseStatisticsPieDiagram {
        height: 315px;
        background-color: #fff;
        border-radius: 25px;
        padding: 30px 40px;
    }
}