.ExpenseStatisticsContainer {
    .title {
        color: #343C6A;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .ExpenseStatisticsPieDiagram {
        background-color: #fff;
        border-radius: 25px;
        padding: 40px;
    }
}