@import '~normalize.css/normalize';

body { 
    font-family: 'Inter';
    background: #F5F7FA;
}

.application {
    display: flex;
    width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}