@import '~normalize.css/normalize';

body { 
    background-color: #F5F7FA;;
    font-family: 'Inter';
    .application {
        max-width: 1440px;
        box-sizing: border-box;
        margin: 0 auto;
        display: flex;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}